.card-container{
    display:flex;
    justify-content: center;
    align-items:center;
    background: linear-gradient(180deg, #085F63, #49BEB7,   #FACF5A, #FF5959);
    height: 100vh;
    margin: 0;
    text-align: center;

}

span{
    font-size:smaller;
    color: grey;
}

.card{
    width: 20rem;
    height: auto;
    box-shadow: 10px 10px 30px black;
}

.card-body{
    text-transform: capitalize;
}

.card-img-top{
    height: 130px;
}

.card-body-img{
    width: 150px;
    height: 150px;
    display:flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    border: 3px solid white;
    border-radius: 50%;
    margin-top: -75px;  
    background-color: white;
    
}

#space{
    margin-bottom: 10px;
    text-align: center;
}

.btn {
    margin-top: 15px;
}

.card-footer{
    display:flex;
    justify-content:space-around;
    
    font-family: "Amita", serif;
    

}

.card-footer-social{
    text-align: center;
}
